.item-detail {
  min-width: 90vw;
}

@media only screen and (min-width: 650px) {
  .item-detail {
    min-width: 600px;
  }
}

li {
  list-style: none;
}
 
.react-datepicker-wrapper input {
  border: none;
  border-bottom: 1px solid black;
  max-width: 130px;
  text-align: center;
  margin-right: 2px;
}

.z999 {
  z-index: 999;
}