html,
body,
#root,
.App {
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App,
.board {
  display: flex;
  flex-flow: column;
  /* background-color: powderblue; */
  background-color: #0079bf;
}

.header {
  display: flex;
  /* background-color: teal; */
  background-color: #0066a0;
  padding: 10px 8px;
}
.header-menu-left {
  flex: 1;
}
.header-menu-right {
  margin: auto;
}

.btn1 {
  background-color: #3d99ce;
  border: none;
  border-radius: 2%;
  padding: 4px 10px;
  color: white;
  cursor: pointer;
}
.btn2 {
  background-color: #3d99ce;
  border: none;
  border-radius: 2%;
  padding: 2px 5px;
  color: white;
  cursor: pointer;
}
.btn2r {
  background-color: #3d99ce;
  border: none;
  border-radius: 50%;
  padding: 2px 5px;
  color: white;
  cursor: pointer;
}

.btn1:hover {
  background-color: #60a1c7;
}

.boards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3px;
}
.boards li {
  list-style: none;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 1%;
  box-shadow: 0 2px 0 #091e4240;
  background-color: rgb(240, 232, 232);
  margin: 0 0 1% 0;
  height: 150px;
  width: 95%;
  cursor: pointer;
}
@media (min-width: 600px) {
  .boards {
    justify-content: start;
  }
  .boards li {
    width: 250px;
    margin: 0 1% 1% 0;
  }
}

.content {
  padding: 0 1%;
  height: 100%;
}

.board {
  padding: 1%;
  flex: 1;
  overflow: auto;
  height: 100%;
}

.board-menu {
  margin-bottom: 4px;
}

.board-content {
  display: flex;
  align-items: flex-start;
  height: 100%;
  overflow-x: auto;
}

.board-list {
  display: flex;
  flex-flow: column;
  margin-right: 8px;
  flex-shrink: 0;
  background-color: whitesmoke;
  padding: 5px 10px;
  border-radius: 1%;
  max-height: 95%;
  width: 250px;
}

.list-header {
}

.menu-btn {
}

.list-content {
  overflow-y: scroll;
}

.list-content ul {
}
.list-content ul li {
  background-color: white;
  padding: 4px 2px 4px 3px;
  box-shadow: 0 1px 0 #091e4240;
  margin-bottom: 3px;
  list-style: none;
  word-wrap: break-word;
  max-height: 200px;
  overflow: auto;
}

.dragging {
  border: 2px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  opacity: 0.9;
}

.btn-a {
  border: 0;
  padding: 2%;
}
.btn-a:hover {
  cursor: pointer;
  background-color: rgb(219, 214, 214);
  border-radius: 5%;
}

input {
  padding: 4px;
}

.flex-wrap-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.font10 {
  font-size: 10pt;
}
.font8 {
  font-size: 8pt;
}
.font12 {
  font-size: 12pt;
}
.bold {
  font-weight: bold;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.fw {
  width: 100%;
}
.fh {
  height: 100%;
}
.mb1 {
  margin-bottom: 1%;
}
.mt2 {
  margin-top: 2%;
}
.mr1 {
  margin-right: 1%;
}
.mr2 {
  margin-right: 2%;
}
.ml1 {
  margin-left: 1%;
}
.ml2 {
  margin-left: 2%;
}
.p1 {
  padding: 1px;
}
.ph1 {
  padding: 0 1%;
}
.outline {
  border: 1px solid black;
  border-radius: 5%;
}

.bg-yellow {
  background-color: yellow;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
